.form {
    width: 50%;
    margin: auto;
    margin-top: 9vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, select {
    margin-left: 7px;
    border-radius: 5px;
    background-color: rgb(160, 160, 160);
} 

textarea {
    background-color: rgb(160, 160, 160);
    border-radius: 5px;
}

.btnSend {
    background-color: black;
    color: white;
    border-radius: 20px 20px;
    border: 2px solid white;
    font-size: 1.5vw;
    width: 13vw;
    margin: auto;
}

.btnSend:hover {
    border: 2px solid rgb(1, 195, 1);
    color: rgb(1, 195, 1);
}

.result {
    width: 50%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.loader{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.loader .loader__icon {
    border: 16px solid black;
    border-top: 16px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}