.home {
    margin-top: 9 vw;
    margin-bottom: 9vw;
}

.text {
    font-size: 1.7vw;
    padding: 0 15px 0 15px;
    text-align: justify;
}

.question {
    font-size: 2.2vw;
    padding-left: 15px;
    text-decoration: underline;
}