.home {
    margin-top: 8vw;
    margin-bottom: 9vw;
}

.text {
    font-size: 1.3em;
    padding: 0 20px 0 20px;
    text-align: justify;
}

.question {
    font-size: 2.2vw;
    padding-left: 15px;
    text-decoration: underline;
}